body {
    font-family: 'Roboto Mono', monospace;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('img/gym.jpg'); 
}

header {
    background-color: black;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: flex-end;
}

.logo{
    margin-right: auto;
}

.logo img{
    cursor: pointer;
    width: 125px;
    height: 100px;
    filter: invert(100%); 
}



.navbar li{
    display: inline-block;
    padding: 25px 10px;
}

.navbar li a:hover{
    color: grey;
}

li, a,  button{
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
    list-style: none;
}

header button{
    margin: 30px;
    background-color: white;
    color: black;
    border-radius: 25px;
}

header button:hover{
    background-color: gray;
}


.container {
    border: 2px solid white;
    margin: 100px;
    padding: 75px;
    max-width: fit-content;
    border-radius: 28px;
}

.form-group input {
    font-family: 'Roboto Mono', monospace;        
    text-align: center;
    display: block;
    width: auto;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}




